/TP02/TP2_Ejercicio_01/nbproject/private/
/TP02/TP2_Ejercicio_01/build/
/TP02/tp2_ejercicio_02/nbproject/private/
/TP02/tp2_ejercicio_02/build/
/TP02/tp02_ejercicio_03/nbproject/private/
/TP02/tp02_ejercicio_03/build/
/TP02/tp02_ejercicio_04/nbproject/private/
/TP02/tp02_ejercicio_04/build/
/TP02/tp02_ejercicio_05/nbproject/private/
/TP02/tp02_ejercicio_05/build/
/TP02/tp02_ejercicio_06/nbproject/private/
/TP02/tp02_ejercicio_06/build/
/TP02/tp02_ejercicio_07/nbproject/private/
/TP02/tp02_ejercicio_07/build/
/TP02/tp02_ejercicio_08/nbproject/private/
/TP02/tp02_ejercicio_08/build/
/TP02/tp02_ejercicio_09/nbproject/private/
/TP02/tp02_ejercicio_09/build/
/TP02/tp02_ejercicio_10/nbproject/private/
/TP02/tp02_ejercicio_10/build/
/TP02/tp02_ejercicio_11/nbproject/private/
/TP02/tp02_ejercicio_11/build/
/TP02/tp02_ejercicio_12/nbproject/private/
/TP02/tp02_ejercicio_12/build/
/TP02/tp02_ejercicio_13/nbproject/private/
/TP02/tp02_ejercicio_13/build/
/TP03/tp03_ejercicio_01/nbproject/private/
/TP03/tp03_ejercicio_01/build/
/TP03/tp03_ejercicio_13/nbproject/private/
/TP03/tp03_ejercicio_13/build/
/TP03/tp03_ejercicio_03/nbproject/private/
/TP03/tp03_ejercicio_03/build/
/TP03/tp03_ejercicio_04/nbproject/private/
/TP03/tp03_ejercicio_04/build/
/TP03/tp03_ejercicio_05/nbproject/private/
/TP03/tp03_ejercicio_05/build/
/TP04/tp04_ejercicio_01/nbproject/private/
/TP04/tp04_ejercicio_01/build/
/TP05/tp05_ejercicio_01/nbproject/private/
/TP05/tp05_ejercicio_01/build/
/TP05/tp05_ejercicio_02/nbproject/private/
/TP05/tp05_ejercicio_02/build/
/TP05/tp05_ejercicio_03/nbproject/private/
/TP05/tp05_ejercicio_03/build/
/TP05/Tp05_ejercicio_05/nbproject/private/
/TP05/Tp05_ejercicio_05/build/
/TP05/tp05_ejercicio_06/nbproject/private/
/TP05/tp05_ejercicio_06/build/
/TP05/tp05_ejercicio_07/nbproject/private/
/TP05/tp05_ejercicio_07/build/
/TP05/tp05_ejercicio_08/nbproject/private/
/TP05/tp05_ejercicio_08/build/
/TP05/tp05_ejercicio_09/nbproject/private/
/TP05/tp05_ejercicio_09/build/
/TP05/tp05_ejercicio_10/nbproject/private/
/TP05/tp05_ejercicio_11/nbproject/private/
/TP05/tp05_ejercicio_11/build/
/TP05/tp05_ejercicio_13/nbproject/private/
/TP05/tp05_ejercicio_13/build/
/TP05/tp05_ejercicio_12/build/
/TP05/tp05_ejercicio_12/nbproject/private/
/TP05/tp05_ejercicio_14/nbproject/private/
/TP05/tp05_ejercicio_14/build/
